fastapi
uvicorn[standard]
python-socketio[asyncio_server]
SQLAlchemy>=2.0
asyncpg
psycopg2-binary
pydantic
python-dotenv
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
email-validator