/* 全画面使うための基本設定だけにする */
html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* 共通のフォントだけ指定（好みでOK） */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
